magacin.dtd

<!ELEMENT artikli (artikal)+>

<!ELEMENT artikal (naziv, datumIzrade, kompanijaProdavca, (email)+)>
<!ELEMENT naziv (#PCDATA)>
<!ATTLIST naziv sifra ID #REQUIRED>

<!ELEMENT datumIzrade (dan, mesec, godina)>
<!ELEMENT dan (#PCDATA)>
<!ELEMENT mesec (#PCDATA)>
<!ELEMENT godina (#PCDATA)>

<!ELEMENT kompanijaProdavca (ime, (adresa)+)>
<!ELEMENT ime (#PCDATA)>
<!ELEMENT adresa (#PCDATA)>

<!ELEMENT email (#PCDATA)>
<!ATTLIST email tip (sluzbeni|privatni) #REQUIRED>